.dict {
    color: navy;
}

.title_image {
    height: 200px;
    display: block;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.quiz_box {
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .quizSentence {
        font-size: large;
    }

    .quizKorean {
        margin-top: 20px;
        font-size: large;
        color: blue
    }

    .answer_box {
        margin-top: 10px;
    }
}

.score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: x-large;

    .my_score {
        margin: 10px;
        color: red;
        font-size: small;
    }

    .correct {
        font-size: x-large;
        color: rgb(186, 33, 153);
    }

    .wrong {
        font-size: medium;
        color: gray;
    }
}

.finish_quiz {
    text-align: center;
}