.bg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .header {
        margin: 20px;
        
        .title {
            font-size: x-large;
            font-weight: 800;
            
            
        }
    }
    
    .contents {
        margin-top: 20px;
        // width: 400px;
        .dict {
            color: navy;
        }

        .title_image {
            margin: 10px;
            height: 300px;
        }
        
        .quiz_box {
            margin: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            // height: 200px;
            
            .quizSentence {
                font-size: large;
            }
            
            .quizKorean {
                margin-top: 20px;
                font-size: large;
                color: blue
            }

            .answer_box {
                margin-top: 10px;
            }
        }
        
        .score {
            margin-top: 20px;
            font-size: x-large;
            
            .my_score {
                margin: 10px;
                color: red;
                font-size: small;
            }
            
            .correct {
                font-size: x-large;
                color: rgb(186, 33, 153);
            }
            
            .wrong {
                font-size: medium;
                color: gray;
            }
        }
    }
    
    .contents_hide {
        visibility: collapse;
    }
    
    
    .footer {
        // margin-top: 10px;
        
        .button_group {
            display: flex;
            justify-content: center;
            width: 100%;
            
            .quiz_button {
                width: 200px;
                font-size: large;
                margin: 10px;
            }
            
            .reset_button {
                width: 200px;
                background-color: navy;
                margin: 10px;
            }
        }
    }
}